.steps{
    ul{
        display: flex;
        li{
            flex-grow: 1;
        }
    }
    .current-info{
        display: none;
    }
}

.actions{
    ul{
        display: flex;
        margin: -10px;
        padding-top: 20px;
        li{
            &:first-child{
                order: 1;
            }
            padding:10px;
            a{
                display: inline-block;
                position: relative;
                color: #fff;
                font-weight: 500;
                transition: all .4s ease;
                border-color: $accent-color;
                background: $accent-color;
                @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
            }
            &.disabled{
                display: none;
            }
        }
    }
}

.nk-wizard{
    &-head{
        display: none;
    }
    &-simple{
        .steps{
            margin-bottom: 20px;
            ul{
                li{
                    position: relative;
                    padding-bottom: 5px;
                    padding-right: 1rem;
                    margin-bottom: 0.5rem;
                    h5{
                        border: none;
                        padding:0 0 6px 0;
                        letter-spacing: 0.02em;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $base-light;
                    }
                    .number{
                        font-size: 13px;
                        color: $base-light;
                        font-weight: 700;
                    }
                    &:after{
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        content: '';
                        transition: all .4s;
                        background: $border-light;
                    }
                    &.done,&.current{
                        &:after{
                            height: 2px;
                            background: $accent-color;
                            width: 100%;
                        }
                        h5,.number{
                            color: $accent-color;
                        }
                    }
                    &.current ~ .done{
                        &:after{
                            height: 1px;
                            background: $border-light;
                        }
                        h5,.number{
                            color: $base-light;
                        }
                    }
                }
            }
            .current-info{
                display: none;
            }
        }
    }
    &.is-vertical{
        .steps{
            ul{
                flex-wrap: wrap;
                li{
                    h5{
                        text-transform: none;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md){
    .nk-wizard{
        &.is-vertical{
            display: flex;
            flex-wrap: wrap;
            .steps{
                width: 33%;
                padding-right: 2rem;
                ul li{
                    width: 100%;
                    &:not(:last-child){
                        margin-bottom: 1rem;
                    }
                }
            }
            .content{
                width: 66%;
            }
        }
    }
}

.gsi-material-button {
    width: auto;
    max-width: 400px;
    min-width: min-content;
    margin-top: 20px;
    background-color: white;
    background-image: none;
    border: 1px solid #747775;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;

    .gsi-material-button-content-wrapper {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        justify-items: center;

        .gsi-material-button-contents {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            font-family: 'Roboto', arial, sans-serif;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
        }

        .gsi-material-button-icon {
            width: 20px;
            height: 26px;
            margin-right: 12px;
            min-width: 20px;
        }
    }

    &:hover {
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

    &:hover .gsi-material-button-state {
        background-color: #303030;
        opacity: 8%;
    }
}

